@layout('master')

@section('content')
<div class="row justify-content-md-center">
@if(!movies.length)
  <div class="col-md-8">
    <div class="alert alert-warning" role="alert">
      No results found with this query.
    </div>
  </div>
@else
  @!each(movie in movies, include = 'partials.movie')
@endif
</div>
@endsection
